/obj/Debug/algoritmo.o
/R2D2.depend
/bin/Release/R2D2
/obj/Release/arquivo.o
/obj/Release/cronometro.o
/obj/Release/main.o
/R2D2.layout
/bin/Debug/R2D2
/obj/Debug/arquivo.o
/obj/Debug/cronometro.o
/obj/Debug/main.o
